/* /Components/Card.razor.rz.scp.css */
.card-container[b-wuoji9qiwc]{
    width: 230px;
    height: 250px;
    border: 1px solid #ccc;
    box-shadow: rgba(0,0,0,0.20) 8px 5px 25px;
    border-radius: 5px;
}

.list-container[b-wuoji9qiwc]{
    overflow-y: auto;
    width: 100%;
    height: 200px;
    padding: 5px;
}

.line[b-wuoji9qiwc]{
    display: flex;
    gap: 15px;
    align-items: center;
    border: 1px solid #eee;
    margin-bottom: 3px;
    padding: 5px;
    position: relative;
}

.line:hover[b-wuoji9qiwc]{
    background-color: rgba(153,51,153,0.08);
    cursor: default;
}
/* /Layout/LoginLayout.razor.rz.scp.css */
.containerLogin[b-bi9m9yh4lc]{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
/*    background-color: aliceblue;*/
/*    background-image: url('bgimg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/

}

/*.img-bkg{
    width: 100%;
    height: 100%;*/
/*    background-color: rgba(0, 0, 0, 0.75);*/
    /*display: flex;
    align-items: center;
    justify-content: center;
}*/
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-qhqvot6ore] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-qhqvot6ore] {
    flex: 1;
}

.sidebar[b-qhqvot6ore] {
    /*    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-color: var(--roxoCard);
}

.top-row[b-qhqvot6ore] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-qhqvot6ore]  a, .top-row[b-qhqvot6ore]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-qhqvot6ore]  a:hover, .top-row[b-qhqvot6ore]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-qhqvot6ore]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-qhqvot6ore] {
        justify-content: space-between;
    }

        .top-row[b-qhqvot6ore]  a, .top-row[b-qhqvot6ore]  .btn-link {
            margin-left: 0;
        }
}


.menu-item[b-qhqvot6ore] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-right: 5px;
    color: #555;
    opacity: .8;
    font-weight: bold;
    margin-top: 5px;
    width: 100%;
    text-align: left;
}

.menu-item:hover[b-qhqvot6ore] {
    cursor: pointer;
    opacity: .6;
    /*        border: .5px solid #ccc;*/
}

@media (min-width: 641px) {
    .page[b-qhqvot6ore] {
        flex-direction: row;
    }

    .sidebar[b-qhqvot6ore] {
        /*        width: 250px;*/
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-qhqvot6ore] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-qhqvot6ore]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-qhqvot6ore], article[b-qhqvot6ore] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-97brtswapb] {
/*    background-color: rgba(255, 255, 255, 0.1);*/
    background-color: rgba(48, 227, 179, 0.1);
}

.top-row[b-97brtswapb] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-97brtswapb] {
    font-size: 1.1rem;
}

.bi[b-97brtswapb] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-97brtswapb] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-97brtswapb] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-97brtswapb] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-tags-fill-nav-menu[b-97brtswapb] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath d='M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3'/%3E%3C/svg%3E");
}

.bi-arrow-down-up-nav-menu[b-97brtswapb] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-arrow-down-up' viewBox='0 0 16 16'%3E%3Cpath d='M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5'/%3E%3C/svg%3E");
}

.bi-people-fill-nav-menu[b-97brtswapb] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-people-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5'/%3E%3C/svg%3E");
}


.nav-item[b-97brtswapb] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-97brtswapb] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-97brtswapb] {
        padding-bottom: 1rem;
    }

    .nav-item[b-97brtswapb]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-97brtswapb]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-97brtswapb]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}



.navbar-toggler-icon[b-97brtswapb]{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-direction: column;
}

.line[b-97brtswapb] {
    width: 30px;
    height: 2px;
    background-color: #fff;
}

@media (min-width: 641px) {
    .navbar-toggler[b-97brtswapb] {
        display: none;
    }

    .collapse[b-97brtswapb] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-97brtswapb] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }


}
/* /Pages/Home.razor.rz.scp.css */


#results-card-section[b-xy8lf02n18]{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.results-card[b-xy8lf02n18] {
    width: 220px;
    height: 70px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    padding-left: 25px;
    padding-right: 15px;
    box-shadow: 10px 10px 15px #ccc;
}

.results-value-label[b-xy8lf02n18] {
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.results-title-label[b-xy8lf02n18]{
    color: #fff;
    font-size: 14px;
}

#card-percent[b-xy8lf02n18] {
    background: linear-gradient(90deg, rgb(246,165,16) 0%, rgb(250,185,30) 50%, rgb(255,200,40) 100% );
}

#card-saidas[b-xy8lf02n18]{
    background: linear-gradient(90deg, rgb(220,93,145) 0%, rgb(230,80,125) 50%, rgb(245,60,110) 100% );
}

#card-entradas[b-xy8lf02n18] {
    background-color: #E64AAD;
    background: linear-gradient(90deg, rgb(31,171,185) 0%, rgb(85,165,185) 50%, rgb(125,145,185) 100% );
}

#card-saldo[b-xy8lf02n18] {
    background-color: #E64AAD;
    background: linear-gradient(90deg, rgb(230,74,173) 0%, rgb(215,74,183) 50%, rgb(200,74,190) 100% );
}

.results-lbl-container[b-xy8lf02n18]{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#category-section[b-xy8lf02n18]{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 10px;

}

#category-compare-area[b-xy8lf02n18]{
    width: 450px;
    height: 250px;
    overflow-y: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(31, 171, 185);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

#category-next-payments-area[b-xy8lf02n18] {
    width: 380px;
    height: 200px;
    overflow-y: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(31, 171, 185);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.category-cards-title[b-xy8lf02n18] {
    color: #fff;
    background-color: rgb(31, 171, 185);
    width: 450px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.next-payments-cards-title[b-xy8lf02n18] {
    color: #fff;
    background-color: rgb(31, 171, 185);
    width: 380px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


#btn-section[b-xy8lf02n18]{
    position: fixed;
    right: 0px;
    top: 70px;
    width: 160px;
    height: 120px;
    background-color: var(--roxoCard);
}

#btn-img[b-xy8lf02n18] {
    width: 40px;
    height: 40px;
    position: relative;
    top: calc(50% - 20px);
    left: -35px;
    background-color: var(--roxoCard);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#btn-img:hover[b-xy8lf02n18]{
    cursor: pointer;
}

#older-results-section[b-xy8lf02n18]{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: flex-start;
}

.older-month-card[b-xy8lf02n18] {
    width: 160px;
    height: 180px;
    background-color: var(--roxoCard);
    border: 1px solid var(--roxoCard);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.older-month-title[b-xy8lf02n18] {
    width: 159px;
    background-color: #fff;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#img-eye[b-xy8lf02n18] {
    width: 30px; 
    float: right;
}

#img-eye:hover[b-xy8lf02n18]{
    cursor: pointer;
}

@media(max-width: 640px) {
    #btn-section[b-xy8lf02n18] {
        position: relative;
        top: 0px;
        float: right;
        right: -20px;
    }
}
/* /Pages/Login.razor.rz.scp.css */
a[b-9fyw5s05nr]{
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    margin-top: 5px;
}

a:hover[b-9fyw5s05nr]{
    cursor: pointer;
    color: #30e3b3;
    transition: all .3s;
}

.login-zone[b-9fyw5s05nr]{
    width: 740px;
    height: 350px;
    background-color: var(--roxoCard);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.login_container_logo[b-9fyw5s05nr]{
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container_input[b-9fyw5s05nr] {
    background-color: var(--roxoCard);
    width: 440px;
    height: 350px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-left: 2px solid #fff;
}

.container_input a[b-9fyw5s05nr]{
    text-decoration: none;
}

.logomarca[b-9fyw5s05nr]{
    position: absolute;
    top: 10px;
    font-family: cursive;
    color: #231058;
    font-size: 28px;
    letter-spacing: 0.01px;
}

#login_page_container[b-9fyw5s05nr]{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .login-zone[b-9fyw5s05nr] {
        flex-direction: column;
        width: 355px;
        height: 500px;
    }

    .login_container_logo[b-9fyw5s05nr] {
        height: 355px;
        width: 300px;
    }


    .container_input[b-9fyw5s05nr] {
        width: 350px;
        height: 600px;
        border-left: 0px;
    }

    .logomarca[b-9fyw5s05nr]{
        top: 60px;
        right: -20px;

    }
}
/* /Pages/Recovery.razor.rz.scp.css */
a[b-06272gylo9] {
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    margin-top: 5px;
}

    a:hover[b-06272gylo9] {
        cursor: pointer;
        color: #30e3b3;
        transition: all .3s;
    }

.login-zone[b-06272gylo9] {
    width: 740px;
    height: 350px;
    background-color: var(--roxoCard);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.login_container_logo[b-06272gylo9] {
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container_input[b-06272gylo9] {
    background-color: var(--roxoCard);
    width: 440px;
    height: 350px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-left: 2px solid #fff;
}

    .container_input a[b-06272gylo9] {
        text-decoration: none;
    }

.logomarca[b-06272gylo9] {
    position: absolute;
    top: 10px;
    font-family: cursive;
    color: #231058;
    font-size: 28px;
    letter-spacing: 0.01px;
}

input[b-06272gylo9], button[b-06272gylo9]{
    width: 250px;
}

@media screen and (max-width: 800px) {
    .login-zone[b-06272gylo9] {
        flex-direction: column;
        width: 355px;
        height: 500px;
    }

    .login_container_logo[b-06272gylo9] {
        height: 355px;
        width: 300px;
    }


    .container_input[b-06272gylo9] {
        width: 350px;
        height: 600px;
        border-left: 0px;
    }

    .logomarca[b-06272gylo9] {
        top: 60px;
        right: -20px;
    }
}
/* /Pages/Transactions.razor.rz.scp.css */
.transaction-card-container[b-qy3wizfeoj] {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 20px;
}

.btn-include:hover[b-qy3wizfeoj]{
    cursor: pointer;
    opacity: .75;
}
.btn-exclude:hover[b-qy3wizfeoj] {
    cursor: pointer;
    opacity: .75;
}

.delete-card[b-qy3wizfeoj]{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: tomato;
    position: fixed;
    right: 5px;
    bottom: 50px;
    visibility: hidden;
}

.trash[b-qy3wizfeoj]{
    margin-top: 16px;
    margin-left: 15px;
}

.delete-card:hover[b-qy3wizfeoj] {
    opacity: 0.8;
    cursor: pointer;
}

.delete-card.riseCardAnimation[b-qy3wizfeoj] {
    animation: riseDeleteCard-b-qy3wizfeoj .1s linear forwards;
}

@keyframes riseDeleteCard-b-qy3wizfeoj{
    from{
        visibility: hidden;
        width: 20px;
        height: 20px;
    }
    to{
        visibility: visible;
        width: 60px;
        height: 60px;
    }
}

.delete-card.leaveCardAnimation[b-qy3wizfeoj] {
    animation: leaveDeleteCard-b-qy3wizfeoj .1s linear forwards;
}

@keyframes leaveDeleteCard-b-qy3wizfeoj {
    from {

        visibility: visible;
        width: 60px;
        height: 60px;
    }

    to {
        visibility: hidden;
        width: 20px;
        height: 20px;
    }
}

.close-card[b-qy3wizfeoj] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--verdePrincipal);
    position: fixed;
    right: 5px;
    bottom: 210px;
    visibility: hidden;
}

.close-card:hover[b-qy3wizfeoj] {
    opacity: 0.8;
    cursor: pointer;
}

.close-card.riseCardAnimation[b-qy3wizfeoj] {
    animation: riseDeleteCard-b-qy3wizfeoj .1s linear forwards;
}

.close-card.leaveCardAnimation[b-qy3wizfeoj] {
    animation: leaveDeleteCard-b-qy3wizfeoj .1s linear forwards;
}

.edit-card[b-qy3wizfeoj] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--amareloLoad);
    position: fixed;
    right: 5px;
    bottom: 130px;
    visibility: hidden;
}

.edit-card:hover[b-qy3wizfeoj] {
    opacity: 0.8;
    cursor: pointer;
}

.edit-card.riseCardAnimation[b-qy3wizfeoj] {
    animation: riseDeleteCard-b-qy3wizfeoj .1s linear forwards;
}

.edit-card.leaveCardAnimation[b-qy3wizfeoj] {
    animation: leaveDeleteCard-b-qy3wizfeoj .1s linear forwards;
}

.total-container[b-qy3wizfeoj]{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.total[b-qy3wizfeoj]{
    width: 140px;
    height: 50px;
    background-color: aquamarine;
}

.month-container[b-qy3wizfeoj]{
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.container-input[b-qy3wizfeoj] {
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.break-point[b-qy3wizfeoj] {
    margin-top: 140px;
}

.input-area[b-qy3wizfeoj] {
    width: 60%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgba(153,51,153,0.85);
    z-index: 1;
    position: fixed;
    border-radius: 5px;
    left: 53%;
    transform: translateX(-50%);
}

.lbl[b-qy3wizfeoj]{
    color: #fff;
}


@media (max-width: 950px) {
    .total-container[b-qy3wizfeoj]{
        visibility: hidden;
    }

    .inputs-container[b-qy3wizfeoj]{
        flex-direction: column;
    }

    .month-container[b-qy3wizfeoj]{
        flex-direction: column;
        gap: 0;
    }

    .btn-container[b-qy3wizfeoj]{
        display: flex;
        align-items: center;
        justify-content: center;
    }




}

@media(max-width: 880px){
    .break-point[b-qy3wizfeoj] {
        margin-top: 240px;
    }

    .input-area[b-qy3wizfeoj] {
        left: 70%;
        transform: translateX(-50%);
    }
}

@media(max-width: 870px) {
    .input-area[b-qy3wizfeoj] {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        
    }
    .break-point[b-qy3wizfeoj] {
        margin-top: 320px;
    }

}

@media(max-width: 640px) {
    .lbl-container[b-qy3wizfeoj] {
        align-items: center;
    }
    .input-area[b-qy3wizfeoj] {
        position: static;
        margin: 0 auto;
        left: 0;
        transform: translateX(0%);
    }
    .break-point[b-qy3wizfeoj] {
        margin-top: 10px;
    }

}

@media(max-width: 580px) {
    .input-area[b-qy3wizfeoj]{
        padding-right: 20px;
        padding-left: 10px;
    }
}
/* /Pages/Usuarios.razor.rz.scp.css */
.user-form-container[b-o9nkrfuly4]{

}
