/* /Layout/LoginLayout.razor.rz.scp.css */
.containerLogin[b-bi9m9yh4lc]{
    width: 100vw;
    height: 100vh;
    background-color: #c8e2d7;
/*    background-image: url('bgimg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/

}

.img-bkg[b-bi9m9yh4lc]{
    width: 100%;
    height: 100%;
/*    background-color: rgba(0, 0, 0, 0.75);*/
    display: flex;
    align-items: center;
    justify-content: center;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-qhqvot6ore] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-qhqvot6ore] {
    flex: 1;
}

.sidebar[b-qhqvot6ore] {
    /*    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-color: #231058;
}

.top-row[b-qhqvot6ore] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-qhqvot6ore]  a, .top-row[b-qhqvot6ore]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-qhqvot6ore]  a:hover, .top-row[b-qhqvot6ore]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-qhqvot6ore]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-qhqvot6ore] {
        justify-content: space-between;
    }

    .top-row[b-qhqvot6ore]  a, .top-row[b-qhqvot6ore]  .btn-link {
        margin-left: 0;
    }
   

}

@media (min-width: 641px) {
    .page[b-qhqvot6ore] {
        flex-direction: row;
    }

    .sidebar[b-qhqvot6ore] {
/*        width: 250px;*/
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-qhqvot6ore] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-qhqvot6ore]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-qhqvot6ore], article[b-qhqvot6ore] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-97brtswapb] {
/*    background-color: rgba(255, 255, 255, 0.1);*/
    background-color: rgba(48, 227, 179, 0.1);
}

.top-row[b-97brtswapb] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-97brtswapb] {
    font-size: 1.1rem;
}

.bi[b-97brtswapb] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-97brtswapb] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-97brtswapb] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-97brtswapb] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-tags-fill-nav-menu[b-97brtswapb] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath d='M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3'/%3E%3C/svg%3E");
}

.nav-item[b-97brtswapb] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-97brtswapb] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-97brtswapb] {
        padding-bottom: 1rem;
    }

    .nav-item[b-97brtswapb]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-97brtswapb]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-97brtswapb]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.navbar-toggler-icon[b-97brtswapb]{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-direction: column;
}

.line[b-97brtswapb] {
    width: 30px;
    height: 2px;
    background-color: #fff;
}

@media (min-width: 641px) {
    .navbar-toggler[b-97brtswapb] {
        display: none;
    }

    .collapse[b-97brtswapb] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-97brtswapb] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Login.razor.rz.scp.css */
a[b-9fyw5s05nr]{
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    margin-top: 5px;
}

a:hover[b-9fyw5s05nr]{
    cursor: pointer;
    color: #30e3b3;
    transition: all .3s;
}

.login-container[b-9fyw5s05nr]{
    width: 740px;
    height: 350px;
    background-color: #30e3b3;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.container_logo[b-9fyw5s05nr]{
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container_input[b-9fyw5s05nr] {
    background-color: #231058;
    width: 440px;
    height: 350px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.container_input a[b-9fyw5s05nr]{
    text-decoration: none;
}

.logomarca[b-9fyw5s05nr]{
    position: absolute;
    top: 10px;
    font-family: cursive;
    color: #231058;
    font-size: 28px;
    letter-spacing: 0.01px;
}

@media screen and (max-width: 800px) {
    .login-container[b-9fyw5s05nr]{
        flex-direction: column;
        width: 350px;
        height: 500px;
    }

    .container_logo[b-9fyw5s05nr]{
        height: 300px;
        width: 350px;

    }


    .container_input[b-9fyw5s05nr]{
        width: 350px;
        height: 600px;
    }

    .logomarca[b-9fyw5s05nr]{
        top: 60px;
        right: -20px;

    }
}
